taxi-data-2019.zip filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=5/data_6.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=6/data_4.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=8/data_4.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=9/data_0.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=10/data_6.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=3/data_2.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=3/data_6.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=4/data_7.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=1/data_3.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=10/data_1.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=10/data_2.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=10/data_4.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=7/data_0.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=8/data_2.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=10/data_7.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=12/data_4.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=2/data_5.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=4/data_2.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=3/data_0.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=7/data_5.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=2/data_7.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=3/data_3.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=3/data_4.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=4/data_1.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=10/data_5.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=11/data_0.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=11/data_3.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=11/data_5.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=4/data_5.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=6/data_0.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=9/data_7.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=4/data_4.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=5/data_1.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=5/data_7.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=6/data_5.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=11/data_1.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=12/data_1.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=2/data_3.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=4/data_0.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=9/data_6.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=6/data_1.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=7/data_2.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=7/data_4.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=8/data_1.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=1/data_1.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=10/data_3.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=12/data_3.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=5/data_0.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=9/data_2.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=9/data_3.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=3/data_5.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=4/data_3.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=5/data_3.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=5/data_5.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=8/data_3.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=1/data_6.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=12/data_0.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=12/data_7.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=5/data_4.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=11/data_4.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=3/data_7.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=4/data_6.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=6/data_3.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=1/data_4.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=1/data_5.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=10/data_0.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=11/data_2.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=7/data_1.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=8/data_0.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=2/data_0.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=6/data_7.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=7/data_3.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=8/data_6.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=12/data_5.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=2/data_2.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=5/data_2.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=8/data_7.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=2/data_4.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=2/data_6.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=8/data_5.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=9/data_5.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=1/data_0.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=1/data_2.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=1/data_7.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=12/data_2.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=7/data_7.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=9/data_4.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=11/data_6.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=11/data_7.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=2/data_1.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=9/data_1.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=7/data_6.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=12/data_6.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=3/data_1.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=6/data_2.parquet filter=lfs diff=lfs merge=lfs -text
taxi-data-2019-partitioned/month=6/data_6.parquet filter=lfs diff=lfs merge=lfs -text
